body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "nav"
    "header"
    "main";
    background-image: url('bkimage.jpg');
    background-repeat: no-repeat;
    background-size: 100%;

}
.on, .off { display: none;
    
}

header { 
    background-color:darkblue;
    color: white;
    padding: 20px;
    grid-area: header;
}

nav {
    background-color: skyblue;
    grid-area: nav;
}

main {
    background-color: greenyellow;
    color: black;
    grid-area: main;
    display: flex;
    justify-content:center;
    align-items: center;
}

main img {
    height: 20em;
    width: 20em;
}